html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-bottom: 50px;
}

.close-color {
  position: absolute;
  cursor: pointer;
  right: -20px;
  top: -30px;
  color: white;
  font-size: 30px;
}
.close-color:hover {
  color: gray;
}
.color-container {
  width:42%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.colors {
  width: 60px;
  height: 25px;
  border: 1px solid black;
  color: white;
  font-size: 10px;
}
#default {
  background-color: #1f2d3a;
}
#gray {
  background-color: gray;
}
#violet {
  background-color: #65366d;
}
#black {
  background-color: black;
}

.container-fluid {
  margin-top: 150px;
  color: white;
  width: 70%;
  font-weight: bold;
}
h1 {
  color: orangered;
  font-weight: bold;
}

/* .custom {
  border: 1px solid white;
} */
.row {
}
.zero {
  padding-left: 0px;
  padding-right: 0px;
}
.image {
  min-height: 270px;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
.number-style {
  color: white;
  font-size: 60px;
  color: #228dff;
  font-family: Iceland;
  animation: orange-neon 0.5s ease-in-out infinite alternate;
}
@keyframes orange-neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
      0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}
.numbers-adjust {
  font-size: 30px;
}
.office-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid orangered;
  box-shadow: 0px 0px 20px orangered;
}

/* Mobile version settings */

@media (max-width: 480px) {
  header, .custom-icons, .color-container{
    display: none;
  }
  .container-fluid{
    width: 100%;
    margin-top: 40px;
  }
  div.row{
    margin-right: 15px;
  }
  iframe{
    margin-top: -40px;
    height: 200px;
  }
  .custom{
    padding: 0;
  }
  .mobile-hide{
    display: none;
  }
  .title{
    text-align: center;
  }
  .col-lg-4{
    margin-top: 10px;
  }
  .second-row{
    margin-top: 0;
  }
  .form-control{
   width: 52%;
  }
  .mobile-logo{
    display: block;
    position: relative;
    top: 3px;
  }
  .mobile-menu-container{
    margin-right: 10px;
    margin-top: 10px;
    width: 70px;
    height: 50px;
    float: right;
    cursor: pointer;
    opacity: 0.5;
    z-index: 3;
  }
  .mobile-menu-container:hover{
    opacity: 1;
  }
  span.menu-lines{
    display: block;
    width: 85%;
    background-color: white;
    opacity: 0.8;
    margin: 5px;
    padding: 5px 10px;
  }
  span.menu-lines-close{
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    background-color: white;
    padding: 3px 5px;
    margin-top: 5px;
  }
  .mobile-menu-close-container{
    cursor: pointer;
  }
  .mobile-menu{
    width: 100%;
    text-align: center;
    display: none;
    padding-bottom: 10px;
    background-color: black;
    opacity: 0.9;
    position: absolute;
    z-index: 2;
  }
  .mobile-buttons{
    color: white;
    display: block;
    text-transform: uppercase;
    margin-top: 10px;
  }
  a.mobile-buttons:hover, a.mobile-buttons:focus{
    color: white;
    text-decoration: none;
  }
  div.footer-row{
    margin-left: -15px;
  }
  #leading-icon{
    margin-left: 93px;
  }
  span.phone-number{
    margin-left: 52px;
  }
 }