
.background-wrapper {
  width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  background-color: transparent;
}

h1.blog-title {
  color: orangered;
  margin-bottom: 20px;
}

h3.left-title {
  border-bottom: 1px solid orangered;
  display: inline-block;
  width: 57%;
  margin-left: 3%;
  color: white;
}

h3.right-title {
  border-bottom: 1px solid orangered;
  display: inline-block;
  width: 31%;
  margin-left: 6%;
  color: white;
}

.blog-left {
  display: inline-block;
  width: 57%;
  margin-left: 3%;
  padding: 0;
  padding-bottom: 10px;
  float: left;
}

div.article-row {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 20px;
}

.left-images {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.blog-btn-1,
.blog-btn-2,
.blog-btn-3,
.blog-btn-4,
.blog-btn-5,
.blog-btn-6,
.blog-btn-7,
.blog-btn-8,
.blog-btn-9 {
  height: 26px;
  cursor: pointer;
}

.current {
  color: white;
  border: 20px solid red;
}

.title-btn-1,
.title-btn-2,
.title-btn-3,
.title-btn-4,
.title-btn-5,
.title-btn-6,
.title-btn-7,
.title-btn-8,
.title-btn-9 {
  display: inline-block;
  border: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  float: left;
  margin-left: 3%;
}

.date-1,
.date-2,
.date-3,
.date-4,
.date-5,
.date-6,
.date-7,
.date-8,
.date-9 {
  margin-right: 3%;
  display: inline-block;
  color: black;
  float: right;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

.current-1,
.current-2,
.current-3,
.current-4,
.current-5,
.current-6,
.current-7,
.current-8,
.current-9 {
  color: white;
}
.blog-content-1,
.blog-content-2,
.blog-content-3,
.blog-content-4,
.blog-content-5,
.blog-content-6,
.blog-content-7,
.blog-content-8,
.blog-content-9{
  display: none;
  border-right: 1px solid orangered;
  border-left: 1px solid orangered;
  border-bottom: 1px solid orangered;
}

.arrow-clicked-1,
.arrow-clicked-2,
.arrow-clicked-3,
.arrow-clicked-4,
.arrow-clicked-5,
.arrow-clicked-6,
.arrow-clicked-7,
.arrow-clicked-8,
.arrow-clicked-9{
  transform: rotate(90deg);
}

.btn-gradient {
  position: relative;
  background: linear-gradient(
    135deg,
    #1f2d3a 3%,
    #777777 34%,
    #1f2d3a 52%,
    #777777 76%,
    #1f2d3a 99%
  );
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom, #000000 0%, #ff4500 100%);
  border-image-slice: 1;
}
.hideborder {
  border-bottom: none;
}
.nopadding {
  padding: 0;
}

.golden-gradient {
  background: linear-gradient(
    135deg,
    #aa7227 0%,
    #d8c782 37%,
    #d8c782 44%,
    #8a5c20 100%
  );
}
h4.blog-mini-title {
  text-align: center;
  font-weight: bold;
  color: #1f2d3a;
}
span.blog-text {
  font-style: italic;
  color: black;
}
.btn-article-gradient {
  background: linear-gradient(
    135deg,
    #1f2d3a 3%,
    #777777 34%,
    #1f2d3a 52%,
    #777777 76%,
    #1f2d3a 99%
  );
  border: none;
  color: orangered;
  font-weight: bold;
}
.btn-gradient:hover {
  left: 10px;
}
.btn-article-gradient:hover {
  color: white;
  border: 1px solid orangered;
}
.blog-right {
  display: inline-block;
  margin-left: 6%;
  width: 31%;
}
div.right-row {
  margin-right: -20px;
  margin-left: -10px;
}
.right-images {
  height: 114px;
  width: 140px;
}
.right-text {
  text-align: left;
  font-style: italic;
  color: black;
}
.fa-star {
  float: right;
  margin-right: 2%;
}
.fa-star:hover{
  color: white;
  cursor: pointer;
}
.right-margin {
  margin-top: 20px;
}
.right-border {
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom, #000000 0%, #ff4500 100%);
  border-image-slice: 1;
} 
.right-border:hover{
  transform: translateX(-20px);
  cursor: pointer;
}

/* Mobile version settings */

@media (max-width: 480px) {
   header, .blog-right, h3.right-title{
     display: none;
   }
   .background-wrapper{
     margin-top: 0;
   }
   h3.left-title{
     width: 100%;
     text-align: center;
   }
   .nopadding > img {
     width: 100%;
   }
   .blog-left{
    display: block;
    width: 100%;
   }
  .mobile-logo{
    display: block;
    position: relative;
    top: 3px;
  }
  .mobile-menu-container{
    margin-right: 10px;
    margin-top: 10px;
    width: 70px;
    height: 50px;
    float: right;
    cursor: pointer;
    opacity: 0.5;
    z-index: 3;
  }
  .mobile-menu-container:hover{
    opacity: 1;
  }
  span.menu-lines{
    display: block;
    width: 85%;
    background-color: white;
    opacity: 0.8;
    margin: 5px;
    padding: 5px 10px;
  }
  span.menu-lines-close{
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    background-color: white;
    padding: 3px 5px;
    margin-top: 5px;
  }
  .mobile-menu-close-container{
    cursor: pointer;
  }
  .mobile-menu{
    width: 100%;
    text-align: center;
    display: none;
    padding-bottom: 10px;
    background-color: black;
    opacity: 0.9;
    position: absolute;
    z-index: 2;
  }
  .mobile-buttons{
    color: white;
    display: block;
    text-transform: uppercase;
    margin-top: 10px;
  }
  a.mobile-buttons:hover, a.mobile-buttons:focus{
    color: white;
    text-decoration: none;
  }
  div.footer-row{
    margin-left: -15px;
  }
  #leading-icon{
    margin-left: 93px;
  }
  span.phone-number{
    margin-left: 52px;
  }
}