/* main content */
body {
  background-color: #1f2d3a;
  box-sizing: border-box;
  /* padding-bottom: 40px; */
}
div.top-container {
  position: relative;
}

header {
  margin-top: 20px;
  position: absolute;
  top: 10px;
  left: 170px;
  z-index: 2;
  display: block;
  width: 1000px;
  min-height: 75px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid rgba(128, 128, 128, 0.377);
}
.selected {
  display: inline-block;
  float: right;
  margin-top: 5px;
  text-decoration: none;
  padding: 1px 15px 42px 15px;
  font-size: 18px;
  color: orangered;
  border-bottom: 2px solid orangered;
}
a.nav-btn {
  color: white;
  display: inline-block;
  float: right;
  margin-top: 5px;
  padding: 10px 15px 30px 15px;
  font-size: 17px;
}

.selected:hover,
a.nav-btn:hover {
  transition: color 0.5s ease-in-out;
  text-decoration: none;
  padding: 1px 15px 42px 15px;
  font-size: 18px;
  color: orangered;
  border-bottom: 2px solid orangered;
}

/* galery.css starts here */
.container-fluid {
  width: 87%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}
.col-lg-4 {
  background-color: transparent;
}
.background {
  background: linear-gradient(
    135deg,
    #1f2d3a 3%,
    #777777 34%,
    #1f2d3a 52%,
    #777777 76%,
    #1f2d3a 99%
  );
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom, #000000 0%, #ff4500 100%);
  border-image-slice: 1;
  width: 370px;
}
.wrapper-center {
  padding: 0px 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.title {
  color: orangered;
  text-align: left;
}
.custom-image {
  filter: brightness(90%);
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 4px solid transparent;
  border-image: linear-gradient(to bottom, #000000 0%, #ff4500 100%);
  border-image-slice: 1;
  transition: 1s ease-in-out;
}
.custom-image:hover {
  transform: rotate3d(1, 1, 1, 6.142rad);
  border-image: none;
  border: 4px solid #ccc;
}
.custom-icons {
  margin-top: 30px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s ease-in-out;
}
.custom-icons:hover,
.custom-icons:focus,
.custom-icons:active {
  color: orangered;
}
.second-row {
  margin-top: 20px;
}

.custom-title {
  color: white;
}
.modal-header {
  text-align: center;
  font-weight: bold;
  border: none;
}
.modal-content {
  background: linear-gradient(to bottom, #ff3f00 0%, #000000 61%);
}
.close {
  opacity: 1;
  font-size: 20px;
  text-shadow: none;
}
.modal-footer {
  border: none;
}

/* Mobile version settings */

@media (max-width: 480px) {
 header, .custom-icons{
   display: none;
 }
 .container-fluid{
   width: 100%;
   margin-top: 40px;
 }
 div.row{
   margin-left: -15px;
 }
 .background{
   width: 100%;
 }
 .title{
   text-align: center;
 }
 .col-lg-4{
   margin-top: 10px;
 }
 .second-row{
   margin-top: 0;
 }
 .form-control{
  width: 52%;
 }
 .mobile-logo{
   display: block;
   position: relative;
   top: 3px;
 }
 .mobile-menu-container{
   margin-right: 10px;
   margin-top: 10px;
   width: 70px;
   height: 50px;
   float: right;
   cursor: pointer;
   opacity: 0.5;
   z-index: 3;
 }
 .mobile-menu-container:hover{
   opacity: 1;
 }
 span.menu-lines{
   display: block;
   width: 85%;
   background-color: white;
   opacity: 0.8;
   margin: 5px;
   padding: 5px 10px;
 }
 span.menu-lines-close{
   display: block;
   width: 10%;
   margin-left: auto;
   margin-right: auto;
   opacity: 0.8;
   background-color: white;
   padding: 3px 5px;
   margin-top: 5px;
 }
 .mobile-menu-close-container{
   cursor: pointer;
 }
 .mobile-menu{
   width: 100%;
   text-align: center;
   display: none;
   padding-bottom: 10px;
   background-color: black;
   opacity: 0.9;
   position: absolute;
   z-index: 2;
 }
 .mobile-buttons{
   color: white;
   display: block;
   text-transform: uppercase;
   margin-top: 10px;
 }
 a.mobile-buttons:hover, a.mobile-buttons:focus{
   color: white;
   text-decoration: none;
 }
 div.footer-row{
   margin-left: -15px;
 }
 #leading-icon{
   margin-left: 93px;
 }
 span.phone-number{
   margin-left: 52px;
 }
}