.ball-slider.round {
  border-radius: 34px;
}

.ball-slider.round:before {
  border-radius: 50%;
}

.slider-holder {
  margin-right: 90px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}
.slider {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: grey;
  transition: 0.4s;
  border-radius: 50px;
}
.slider:before {
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  content: "";
  height: 24px;
  width: 23px;
  left: -3px;
  bottom: -1px;
  background-color: lightgrey;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: orangered;
}

input:checked + .slider:before {
  transform: translateX(21px);
}

.modal-open {
  font-weight: bold;
}
.modal-content {
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 100px;
  background-color: #2b2d2f;
}
.modal-c-tabs {
  color: orangered;
}
.nav-tabs {
  border: none;
  padding-left: 125px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: lightgrey;
  cursor: default;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid orangered;
}

.nav > li > a:hover {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid orangered;
  color: lightgrey;
  transition: 0.3s ease-in-out;
}
a {
  color: lightgrey;
}
/* 
.form-control {
  font-size: 14px;
  background-color: #4d4d4d;
  color: lightgray;
  border-radius: 20px;
} */
.form-control-sm {
  width: 100%;
  font-size: 14px;
  background-color: #4d4d4d;
  color: lightgray;
  border-radius: 20px;
}
i.custom {
  position: relative;
  top: 27px;
  left: 12px;
}

input[placeholder] {
  padding-left: 30px;
}
a:focus,
a:hover {
  font-weight: bold;
  text-decoration: none;
  color: darkgray;
  border-bottom: 1px solid orangered;
  transition: color 0.5s ease;
}
button.login {
  padding: 8px 28px;
  border-radius: 50px;
  color: white;
  background-color: orangered;
  opacity: 0.9;
}
.btn:hover,
.btn:focus,
.btn.focus {
  opacity: 1;
  color: white;
  transition: 0.4s ease-in-out;
  border: 1px solid black;
  border: none;
  border-bottom: 1px solid orangered;
}
.form-control:focus {
  border-color: orangered;
}

.btn-login {
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 185px;
  padding: 3px 12px;
  z-index: 15;
}
.btn:hover,
.btn:focus,
.btn.focus {
}

.login-label {
  margpadding: 0;
  display: inline-block;
  color: grey;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}


