.login-content {
  margin-left: auto;
  margin-right: auto;
  width: 67%;
  background-color: #2b2d2f;
  border: 1px solid black;
  border-radius: 10px;
}
.login-title {
  color: lightgray;
  border-bottom: 1px solid orangered;
  padding: 0;
  padding-bottom: 5px;
  font-size: 18px;
  text-align: center;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
}
.login-header {
  border: none;
  padding-top: 5px;
}
.login-body {
  color: lightgray;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
.username-input {
  width: 100%;
  background-color: #4d4d4d;
  padding-left: 30px;
  color: lightgray;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.custom-icons {
  position: relative;
  top: 28px;
  left: 12px;
  color: orangered;
  font-size: 14px;
}

.username-input:focus {
  border: 1px solid orangered;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}
.login-row {
  margin: 0;
  margin-top: 10px;
}
.login-footer {
  border: none;
}

.ball-slider.round {
  border-radius: 34px;
}

.ball-slider.round:before {
  border-radius: 50%;
}

.slider-holder {
  margin-right: 90px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}
.slider {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: grey;
  transition: 0.4s;
  border-radius: 50px;
}
.slider:before {
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  content: "";
  height: 24px;
  width: 23px;
  left: -3px;
  bottom: -1px;
  background-color: lightgrey;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: orangered;
}

input:checked + .slider:before {
  transform: translateX(21px);
}

.btn-login {
  padding: 3px 12px;
  border-radius: 50px;
  color: white;
  background-color: orangered;
}

.orange-color {
  color: orangered;
}
.grey-color {
  color: #ccc;
}
.orange-color,
.grey-color {
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  padding-bottom: 5px;
}
.grey-color:hover {
  border-bottom: 1px solid orangered;
}
.btn-exit {
  border: 1px solid black;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}
.btn-exit:hover {
  background-color: orangered;
}
.trigger-modal-holder {
  position: absolute;
  left: 940px;
  top: 3px;
  z-index: 10;
}
.trigger-login {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  transition: 0.3s ease-in-out;
}
.trigger-register {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  transition: 0.3s ease-in-out;
}
.trigger-login:hover {
  border-bottom: 1px solid orangered;
  color: orangered;
}
.trigger-register:hover {
  border-bottom: 1px solid orangered;
  color: orangered;
}
.trigger-register:focus,
.trigger-login:focus {
  outline: 0;
}

.btn-register {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 3px 12px;
  border-radius: 50px;
  color: white;
  background-color: orangered;
}
