body {
  background-color: #1f2d3a;
  box-sizing: border-box;
  transition: background-color 1.5s ease-in-out;
}
div.top-container {
  position: relative;
}

header {
  margin-top: 20px;
  position: absolute;
  top: 10px;
  left: 170px;
  z-index: 2;
  display: block;
  width: 1000px;
  min-height: 75px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid rgba(128, 128, 128, 0.377);
}
.selected {
  display: inline-block;
  float: right;
  margin-top: 5px;
  text-decoration: none;
  padding: 1px 15px 42px 15px;
  font-size: 18px;
  color: orangered;
  border-bottom: 2px solid orangered;
}
a.nav-btn {
  color: white;
  display: inline-block;
  float: right;
  margin-top: 5px;
  padding: 10px 15px 30px 15px;
  font-size: 17px;
}

.selected:hover,
a.nav-btn:hover {
  transition: color 0.5s ease-in-out;
  text-decoration: none;
  padding: 1px 15px 42px 15px;
  font-size: 18px;
  color: orangered;
  border-bottom: 2px solid orangered;
}
.btn-default:hover,
.article-btn:hover,
.slide-btn:hover {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  background-color: orangered;
  transition: color 0.5s ease-in-out;
}
.carousel-indicators li {
  border-radius: 0px 0px 5px 0px;
  border: 1px solid grey;
  background-color: transparent;
  opacity: 0.8;
  height: 16px;
  width: 16px;
}

.carousel-indicators .active {
  background-color: orangered;
  border-radius: 5px 0px 5px 0px;
  opacity: 1;
  border: none;
  height: 20px;
  width: 20px;
}

.carousel-inner > .item > img {
  object-fit: contain;
  filter: brightness(60%);
}

div.slide-container {
  position: absolute;
  z-index: 5;
  top: 120px;
  left: 450px;
  text-align: center;
}

h1.slide-heading {
  color: white;
  font-weight: 700;
}

h2.slide-mini-heading {
  color: orangered;
}

p.slide-text {
  font-weight: bold;
  font-size: 16px;
  color: white;
  text-align: center;
}

button.slide-btn {
  border: 1px solid white;
  border-radius: 5px 5px 15px 5px;
  color: lightgrey;
  font-size: 16px;
  padding: 7px 15px;
  background-color: transparent;
}

.carousel-control {
  width: 6%;
}

div.mid-custom {
  margin-left: 50px;
  margin-right: 50px;
  min-height: 600px;
}
div.row {
  margin-left: 15px;
}
h1.mid-heading {
  margin-top: 40px;
  text-align: left;
  color: orangered;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

p.mid-text {
  font-size: 17px;
  color: grey;
  font-weight: bold;
  margin-bottom: 50px;
}

a.btn-lg {
  border: 1px solid white;
  border-radius: 8px 0px 8px 0px;
  color: lightgrey;
  background-color: transparent;
}

h2.mid-heading {
  margin: 0;
  color: white;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
}

span.numbers {
  color: orangered;
}

div.grey-border {
  background-color: grey;
  width: 100%;
  height: 4px;
}

div.custom-row {
  margin-left: 15px;
}

div.col-lg-3 {
  padding: 5px;
}

h3.article-heading {
  color: orangered;
  text-align: center;
}

span.article-title {
  text-align: center;
  color: grey;
  font-size: 18px;
}

.article-text {
  color: lightgrey;
}

button.article-btn {
  text-align: center;
  margin-left: 75px;
  color: lightgrey;
  border: 1px solid white;
  border-radius: 8px 0px 8px 0px;
  background-color: transparent;
}

div.articles {
  min-height: 200px;
  color: white;
  position: relative;;
}


img.img-articles {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  border: 1px solid black;
  filter:brightness(95%);
  position: relative;;
}

img.img-articles:hover{
  top: -5px;
  background-color: red;
  transition: 0.2s ease-in-out;
  border: 1px solid white;
  filter: brightness(110%);
}

div.footer-top {
  color: white;
  min-height: 150px;
  padding: 0;
}

.email-input,
.social {
  margin: 0;
  padding: 0;
  display: block;
  color: grey;
  font-size: 26px;
  font-weight: bold;
  text-align: left;
}
.form-control {
  display: inline-block;
  width: 270px;
  margin-right: -5px;
  background-color: #4d4d4d;
  border-radius: 15px 0px 0px 15px;
  border: none;
  color: orangered;
}
.btn-submit {
  background-color: orangered;
  border: none;
  border-radius: 0px 15px 15px 0px;
  color: white;
  height: 34px;
  padding: 6px 12px;
  display: inline-block;
}

.social-icons {
  padding: 10px 10px;
  font-size: 20px;
  background-color: grey;
  color: white;
}

span.phone-number {
  margin: 0;
  padding: 0;
  font-size: 28px;
  background-color: transparent;
  color: white;
}

.social-icons:hover {
  background-color: black;
  color: orangered;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.footer-mid {
  margin-top: 50px;
  border: 1px solid white;
  min-height: 300px;
}

.logo {
  display: block;
  font-size: 50px;
  color: grey;
  text-align: center;
}

.glow {
  animation-duration: 2s;
  animation-name: glow;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes glow {
  from {
    text-shadow: 0 -10px 0px green;
  }
  to {
    text-shadow: 0 10px 20px orangered;
  }
}

.lightbox-modal {
  display: none;
  position: absolute;
  right: 20px;
  bottom: -20px;
  padding: 20px;
  background-color: black;
  border: 1px solid white;
  animation: neonglowing 1.5s ease-in-out infinite alternate;
}
@keyframes neonglowing {
  from {
    text-shadow: 0 0 15px #fff, 0 0 25px #fff, 0 0 35px #fff, 0 0 45px #228dff,
      0 0 75px #228dff, 0 0 85px #228dff, 0 0 105px #228dff, 0 0 155px #228dff;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 25px #228dff,
      0 0 35px #228dff, 0 0 45px #228dff, 0 0 55px #228dff, 0 0 75px #228dff;
  }
}

/* ----------onload modal settings-------------- */
.news-title {
  font-weight: bold;
  color: white;
}
.news-content {
  color: gray;
}
.news-header,
.news-footer {
  background-color: #55abdf;
  font-size: 26px;
  font-weight: bold;
}

.info {
  opacity: 0.8;
  position: relative;
  width: 50%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: gray;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.info-close {
  position: absolute;
  top: -13px;
  right: 5px;
  cursor: pointer;
  color: black;
  font-size: 36px;
}

.info-close:hover {
  color: white;
}

.page {
  display: none;
}
.page-active {
  display: block;
}
.mobile-logo, .mobile-menu{
  display: none;
}
/* Mobile version settings */

@media (max-width: 480px) {
  #carousel-example-generic, .top-container, a.btn-lg, .info {
    display: none;
  }
  #myModal {
    margin-left: 2%;
  }
  div.mid-custom{
   padding-left: 0px;
   padding-right: 20px;
   margin-right: 0px;
   margin-left: 0px;
  }
  .form-control{
    margin-left: 42px;
    width: 52%;
  }
  div.footer-top{
    min-height: 100px;
  }
  .mobile-logo{
    display: block;
    position: relative;
    top: 3px;
  }
  h1.mid-heading, h2.mid-heading{
    font-size: 24px;
    text-align: center;
  }
  div.articles{
    text-align: center;
  }
  button.article-btn{
    margin-left: 0;
  }
  .email-input, .social{
    text-align: center;
    font-size: 23px;
  }
  p.mid-text{
    text-align: center;
    font-size: 14px;
  }
  .mobile-menu-container{
    margin-right: 10px;
    margin-top: 10px;
    width: 70px;
    height: 50px;
    float: right;
    cursor: pointer;
    opacity: 0.5;
    z-index: 3;
  }
  .mobile-menu-container:hover{
    opacity: 1;
  }
  span.menu-lines{
    display: block;
    width: 85%;
    background-color: white;
    opacity: 0.8;
    margin: 5px;
    padding: 5px 10px;
  }
  span.menu-lines-close{
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    background-color: white;
    padding: 3px 5px;
    margin-top: 5px;
  }
  .mobile-menu-close-container{
    cursor: pointer;
  }
  .mobile-menu{
    width: 100%;
    text-align: center;
    display: none;
    padding-bottom: 10px;
    background-color: black;
    opacity: 0.9;
    position: absolute;
    z-index: 2;
  }
  .mobile-buttons{
    color: white;
    display: block;
    text-transform: uppercase;
    margin-top: 10px;
  }
  a.mobile-buttons:hover, a.mobile-buttons:focus{
    color: white;
    text-decoration: none;
  }
  div.footer-row{
    margin-left: -15px;
  }
  #leading-icon{
    margin-left: 93px;
  }
  span.phone-number{
    margin-left: 52px;
  }
}